{% extends "layout.html"%}
{% block body %}
<section class="heading hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Movements today
      </h1>
    </div>
  </div>
</section> <!-- end heading -->

<section class="container hero is-success">
  <p class="has-text-centered" id="last-movement"></p>
</section>

<section class="container">
  <canvas id="movements"></canvas>
</section> <!-- end charts -->

{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script >
  // Parse the data
  var dates = {{ data | safe }}.map(function(x){
    return moment(x.date);
  });
  // Insert data of last movement
  var last = document.getElementById("last-movement");
  last.innerHTML = "Last movement " + dates[0].fromNow();
  var hourData = dates.map(function(x){return x.hour();});
  var d = [];
  for (var x = 0; x < hourData.length; x++) {
    var el = d.find(function(y) {
      return y.label === hourData[x].toString();
    });
    if (el === undefined) {
      d.push(
        {
          label: hourData[x].toString(),
          data: [1],
        }
      );
    } else {
      el.data[0] += 1;
    }
  };
  // Plot the chart
  var ctx = document.getElementById("movements").getContext('2d');
  var myChart = new Chart(ctx,{
    type: 'pie',
    data: {
      labels: d.map(function(x){return x.label;}),
      datasets: d,
    }
   });
</script>
{% endblock %}
